In [ ]:
import pandas as pd
import numpy as np

# Create a simple DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Seen'],
    'Age': [24, 27, 22, 32, 29, True],
    'City': ['New York', 'Boston', 'Chicago', 'Denver', 'Seattle', True],
    'Score': [85, 92, 78, 95, 89, False]
}

df = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df)

In [ ]:
# Creating a DataFrame from a NumPy array
array_data = np.random.randint(60, 100, size=(5, 4))

df2 = pd.DataFrame(
    array_data,
    columns=['Math', 'Science', 'English', 'History'],
    index=['Student1', 'Student2', 'Student3', 'Student4', 'Student5'],
)

print("\nDataFrame from array:")
print(df2)

In [ ]:
# Reading CSV into DataFrame

students_df = pd.read_csv('../files/students_record.csv')

print("First 5 rows of the DataFrame:")
print(students_df.head())

In [ ]:
# Basic information about the DataFrame

(rows, columns) = students_df.shape

columnNames = students_df.columns.tolist()

print(f"DataFrame shape ({rows}, {columns})")
print("\nColumn names:", columnNames)
print("\nData types:")
print(students_df.dtypes)

In [ ]:
# Summary statistics
print("\nSummary statistics:")
print(students_df.describe())

# print(students_df.describe(include=['object']))
# print(students_df.describe(include='all'))

In [ ]:
# Accessing columns
print("\nMath scores:")
print(students_df[['student_id', 'first_name', 'math_score', 'english_score']])

In [ ]:
print("\nFirst 3 rows:")
print(students_df.iloc[0:3])

In [ ]:
# Accessing specific cell
print("\nFirst student's math score:", students_df.iloc[0, 6])

In [ ]:
high_scores = students_df[students_df['math_score'] > 90]

# print(high_scores)

print("\nStudents with math scores over 90:")

# Retrieve select columns
selectColumns = high_scores[['first_name', 'last_name', 'math_score']]

print(selectColumns)

In [ ]:
students_df = students_df.rename(columns = { 'math_score': 'Mathematics Score' })
print("\nRenamed columns:", students_df.columns.tolist())

In [ ]:
print(students_df['Mathematics Score'])

# Creating new columns

In [ ]:
students_df['average_score'] = (students_df['mathematics_score'] + 
                               students_df['science_score'] + 
                               students_df['english_score'] + 
                               students_df['history_score']) / 4
print("\nAverage scores:")
print(students_df[['first_name', 'last_name', 'average_score']].head())